<div class="col-6">

    <table class="table">

        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Target</th>
                <th>Result</th>
                <th>Achieved</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>Net Emissions</th>
                <td><%= @farm.target.net_carbon_emission %> kg</td>
                <td>0 kg</td>
                <td><i class="fas fa-check-circle fa-lg success"></i></td>
            </tr>
            <tr>
                <th>Defra Habitat Score</th>
                <td>50%</td>
                <td>25%</td>
                <td><i class="fas fa-times-circle target-card-icon fa-lg fail"></i></td>
            </tr>
            <tr>
                <th>Space For Nature Score</th>
                <td>20%</td>
                <td>33%</td>
                <td><i class="fas fa-check-circle fa-lg success"></i></td>
            </tr>
            <tr>
                <th>Countryside Stewardship Score</th>
                <td>50%</td>
                <td>75%</td>
                <td><i class="fas fa-check-circle fa-lg success"></i></td>
            </tr>
            <tr>
                <th>Biodiversity Score</th>
                <td>75%</td>
                <td>60%</td>
                <td><i class="fas fa-times-circle target-card-icon fa-lg fail"></i></td>
            </tr>
            <tr>
                <th>Field-Based Soil Health Score</th>
                <td>60%</td>
                <td>75%</td>
                <td><i class="fas fa-check-circle fa-lg success"></i></td>
            </tr>
            <tr>
                <th>Lab-Based Soil Health Score</th>
                <td>50%</td>
                <td>70%</td>
                <td><i class="fas fa-check-circle fa-lg success"></i></td>
            </tr>
            <tr>
                <th>Mean SOC</th>
                <td>20%</td>
                <td>25%</td>
                <td><i class="fas fa-check-circle fa-lg success"></i></td>
            </tr>
        </tbody>

    </table>`

    <br>

    <h1><%=  @farm.sequestration %>
</div>