<%= render 'farm-navbar' %>

<div class="content" data-spy="scroll" data-target="#farm-navbar" data-offset="0">

    <!-- overview results -->
    <div class="row overview-display-div" id="overview">
        <%= render 'overview' %>
    </div>

    <!-- carbon results -->
    <div class="carbon-display-div" id="carbon">
        <%= render 'carbon' %>
    </div>

    <!-- emissions results -->
    <div class="nature-display-div" id="nature">
        <%= render 'nature' %>
        <div style="height: 1000px;">
        </div>
    </div>

</div>


