<div class="farm-content">

    <!-- farm navbar -->
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light farm-navbar">
                <a class="navbar-brand farm-name" href="#"><b><%= @farm.name %></b></a>
                <div class="collapse navbar-collapse justify-content-end">
                    <a class="nav-link navbar-link" href="#">Emissions</a>
                    <a class="nav-link navbar-link" href="#">Nature</a>
                    <a class="nav-link navbar-link" href="#">Interventions</a>
                    <i class="fas fa-cog"></i>
                </div>
            </nav>
        </div>
    </div>

    <!-- farm display -->
    <div class="row farm-display-div">
        <%= render 'farm' %>
    </div>

</div>


