<div class="sidebar">

    <div class="sidebar-heading">
        NatureLogic
    </div>

    <hr class="sidebar-divider"/>

    <div class="sidebar-item">
        <%= link_to new_farm_path, data: { turbolinks: false }, class: "sidebar-link" do %>
            <div class="sidebar-item-content">
                <span>New Farm</span>
                <i class="fas fa-tractor sidebar-icon"></i>
            </div>
        <% end %>
    </div>

    <div class="sidebar-item">
        <%= link_to farms_path, class: "sidebar-link" do %>
            <div class="sidebar-item-content">
                <span>View Farms</span>
                <i class="fas fa-file-alt sidebar-icon"></i>
            </div>
        <% end %>
    </div>

</div>
