<nav class="navbar navbar-expand-lg mb-4 mt-4 estate-navbar shadow py-3">
    <b class="navbar-brand uppercase"><%= @estate.name %></b>
    <% if current_page?(estate_overview_path(@current_estate_user.estate)) %>
    <div class="container-fluid d-flex justify-content-between">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Estate
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% @estate.farm_timelines.each do |farm_timeline| %>
                        <% farm = Farm.find(farm_timeline.initial_farm_id) %>
                        <%= link_to farm.name,
                            farm_snapshot_path(farm),
                            class: "dropdown-item" %>
                    <% end %>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="navbar-text">
                <%= @current_estate_user.email %>
            </li>
        </ul>
    </div>
    <% else %>
    <ul class="navbar-nav ml-auto">
        <li class="navbar-text">
            <%= @current_estate_user.email %>
        </li>
    </ul>
    <% end %>
</nav>
