// Place all the styles related to the Estates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.greyed-sidebar {
  background-color: grey;
}

.farms-card {
  min-height: 550px;
  border-radius: 25px !important;
}

.short-farms-card {
  height: 400px;
}

.add-farm-link {
  font-size: large;
  color: rgba(0, 128, 0, 0.75);
  text-decoration: none;
}

.add-farm-link:hover {
  font-size: large;
  font-weight: bold;
  color: rgba(0, 128, 0, 1);
  text-decoration: none;
}

.estate-farms-card-header {
  font-weight: bold;
  text-transform: uppercase;
}

.estate-navbar {
  background-color: rgba(0, 0, 205, 0.7);
  color: white;
  border-radius: 10px;
}

.no-right-left-borders {
  border-right: none !important;
  border-left: none !important;
}

.no-left-border {
  border-left: none !important;
}

.no-right-border {
  border-right: none !important;
}

.vertical-align-middle {
  vertical-align: middle;
}
