// Place all the styles related to the Estates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.greyed-sidebar {
    background-color: grey;
}


.farms-card {
    height: 550px;
}


.short-farms-card {
    height: 400px;
}