.view-farms-div {
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 200px;
}

.content {
  margin-left: 50px;
  margin-right: 50px;
}

.farm-carbon-div {
  padding: 20px;
  border-radius: 25px;
  background: #f0ffff;
  border: 2px solid #6495ed;
}

.farm-submit-div {
  text-align: center;
}

.land-btn-div {
  text-align: right;
}

.farm-name {
  color: white !important;
}

.navbar-link {
  color: white;
}

.success {
  color: lightgreen;
}

.fail {
  color: red;
}

.score-badge {
  background-color: #6495ed;
}

.centred-data {
  text-align: center;
}

.standards-card-header {
  color: white;
}

.sprayed-div {
  padding-top: 35px;
}

.overview-display-div {
  padding-top: 70px;
}

#farm-navbar {
  color: white;
  background-color: steelblue;
}

.farm-form-div {
  padding-top: 50px;
  width: 70%;
  margin: auto;
}

.farm-submit-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.farm-navbar-txt {
  color: white;
}

.carbon-display-div {
  margin-top: 300px;
  padding-top: 70px;
}

.carbon-content {
  padding: 20px;
  padding-bottom: 100px;
  background-color: #87cefa;
  border: 3px solid steelblue;
  border-radius: 25px;
}

.nature-display-div {
  margin-top: 100px;
  padding-top: 70px;
}

.graph-div {
  padding: 20px;
  background-color: white;
  border-radius: 25px;
}

.nature-content {
  padding: 20px;
  padding-bottom: 100px;
  background-color: #dda0dd;
  border: 3px solid steelblue;
  border-radius: 25px;
}

.intervention-btn {
  width: 100%;
  margin-top: 10px;
  background-color: #90ee90;
}

.intervention-title-div {
  padding-left: 20px;
  padding-right: 20px;
}

.text-centre {
  text-align: center;
}

.land-select-1 {
  height: 30px;
  width: 49%;
}

.land-select-2 {
  height: 30px;
  width: 50%;
}

.land-select-lable-div {
  text-align: center;
}

.swap-land-btn {
  width: 100%;
  margin-top: 10px;
}

.land-select-lable-row {
  margin-top: 10px;
}

.card-header-text {
  color: #4e73df;
}

.table-body-text {
  color: #858796;
}

th {
  border: none !important;
}

.name-data {
  border-right: none !important;
}

.location-data {
  border-right: none !important;
  border-left: none !important;
}

.view-action-data {
  border-left: none !important;
  vertical-align: middle;
}

.view-farm-link:hover {
  text-decoration: none;
}

.farm-navbar {
  margin-bottom: 25px;
}

.form-card {
  height: 650px;
}

.soil-sample-form-card {
  height: 750px;
}

.form-card-body {
  padding: 20px;
}

.data-card-body {
  height: 300px;
}

.btn.nohover:hover {
  background-color: #5cb85c !important;
}

.test {
  background-color: red;
}