.view-farms-div {
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 200px;
}

.content {
  margin-left: 50px;
  margin-right: 50px;
}

.farm-carbon-div {
  padding: 20px;
  border-radius: 25px;
  background: #f0ffff;
  border: 2px solid #6495ed;
}

.farm-submit-div {
  text-align: center;
}

.land-btn-div {
  text-align: right;
}

.farm-name {
  color: white !important;
}

.navbar-link {
  color: white;
}

.success {
  color: lightgreen;
}

.fail {
  color: red;
}

.score-badge {
  background-color: #6495ed;
}

.centred-data {
  text-align: center;
}

.standards-card-header {
  color: white;
}

.sprayed-div {
  padding-top: 35px;
}

.overview-display-div {
  padding-top: 70px;
}

.emissions-display-div {
  margin-top: 300px;
  padding-top: 70px;
}

.nature-display-div {
  margin-top: 650px;
  padding-top: 70px;
}

#farm-navbar {
  color: white;
  background-color: steelblue;
}

.farm-form-div {
  padding-top: 50px;
  width: 70%;
  margin: auto;
}

.farm-submit-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.farm-navbar-txt {
  color: white;
}
