.view-farms-div {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 200px;
}

.farm-content {
  margin: 50px;
}

.farm-carbon-div {
  padding: 20px;
  border-radius: 25px;
  background: #f0ffff;
  border: 2px solid #6495ed;
}

.farm-submit-div {
  text-align: center;
}

.land-btn-div {
  text-align: right;
}
