.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #23a776;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar-divider {
  background-color: white;
  width: 85%;
}

.sidebar-heading {
  color: fade-out(white, 0.1);
  font-weight: 800;
  font-size: x-large;
  text-align: center;
}

.sidebar-item {
  margin-top: 20px;
}

.sidebar-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: fade-out(white, 0.2);
  font-size: large;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar-item-content:hover {
  color: white;
  text-decoration: none;
}

.sidebar-link:hover {
  text-decoration: none;
}

.sidebar-icon {
  font-size: small;
}

.page-content {
  margin-left: 200px;
}

.navbar-icon {
  font-size: x-large;
}
