/* General + Utils */

* {
  font-family: "Nunito", sans-serif;
}

.no-hover-underline:hover {
  text-decoration: none;
}

.page-content {
  margin-left: 200px;
}

.form-card {
  min-height: 550px;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
}

.no-right-left-borders {
  border-right: none !important;
  border-left: none !important;
}

.no-left-border {
  border-left: none !important;
}

.no-right-border {
  border-right: none !important;
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

/* Colours */

.form-card.purple {
  border-color: rgba(0, 0, 255, 0.4);
}

.green-link:hover {
  color: rgba(0, 128, 0, 0.75);
}

.green-link {
  color: rgba(0, 128, 0, 1);
}

.grey {
  color: rgba(0, 0, 0, 0.75);
}

.dark-grey {
  color: rgba(0, 0, 0, 0.8);
}

.light-grey {
  color: rgba(0, 0, 0, 0.6);
}

.green {
  color: #a1d055;
}

.light-green {
  color: #b9ed64;
}

.blue {
  color: rgba(0, 0, 255, 0.75);
}

.light-blue {
  color: #5bcde8;
}

.red {
  color: #d92626;
}

.pink {
  color: #ea5ba8;
}

.yellow {
  color: #fbb03b;
}

.species-value-div {
  border-radius: 25px;
  min-width: 75px;
  color: white;
  text-align: center;
  background-color: rgba(35, 167, 118, 0.1);
}

.light-green-background {
  background-color: rgba(35, 167, 118, 0.1);
}

.table-body-text {
  color: #858796;
}

/* Backgrounds */

.moss-background {
  background-image: url("/assets/moss-background.jpg");
}

/* Text */

.text-large {
  font-size: 125%;
}

.text-x-large {
  font-size: 150%;
}

.wide-text {
  font-stretch: expanded;
}

/* Navbars */

.naturelogic-navbar {
  background-color: #031b52;
  color: white;
  border-radius: 10px;
}

.sub-navbar {
  border-radius: 25px;
  background-color: #1167b1;
}

.edit-nav-link-active:hover {
  color: #03254c;
}

.sub-nav-link {
  color: white;
}

.sub-nav-link:hover {
  color: lightgrey;
}

.sub-nav-link.active {
  color: #1167b1;
  background-color: white;
  padding-left: 30px !important;
  padding-right: 30px !important;
  border-radius: 15px;
}

.sub-nav-link.active:hover {
  color: rgba(0, 0, 0, 0.65);
}

.form-card {
  border-radius: 25px !important;
}

.sub-navbar {
  border-radius: 25px;
  background-color: rgba(3, 27, 82, 0.7);
}

.sub-navbar-link {
  color: white;
}

.sub-navbar-link.active {
  background-color: #ff7a05;
  padding-left: 30px !important;
  padding-right: 30px !important;
  border-radius: 15px;
}

.sub-navbar-link:hover {
  color: #ff7a05;
}

.sub-navbar-link.active:hover {
  color: #031b52;
}

/* Sidebars */

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(3, 27, 82, 0.7);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar-heading {
  color: white;
  font-weight: 800;
  font-size: x-large;
  text-align: center;
}

.sidebar-link-content {
  margin-left: auto;
  margin-right: auto;
  padding: 5% 7% 5% 7%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: large;
  width: 90%;
}

.sidebar-divider {
  background-color: white;
  width: 85%;
}

.sidebar-link-content:hover {
  font-size: 115%;
}

.sidebar-link-content.active {
  background-color: rgba(255, 122, 5, 0.9);
  border-radius: 20px;
  font-size: 100% !important;
}

.sidebar-link-content.active:hover {
  background-color: darkorange;
  font-weight: normal !important;
  color: white !important;
  font-size: 100% !important;
}

/* displays */

.value-div {
  border-radius: 25px;
  min-width: 275px;
  text-align: center;
  background-color: rgba(35, 167, 118, 0.1);
}

.value-bubble {
  border-radius: 25px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.value-bubble.green {
  background-color: rgba(35, 167, 118, 0.1);
}

/* cards */

.result-display.card {
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-width: medium !important;
}

td.no-top-border {
  border-top: none !important;
}

.nav-link.graph-tab {
  color: rgba(0, 0, 0, 0.8) !important;
}

.nav-link.graph-tab:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

.card-body.carbon-graphs {
  height: 500px;
}
