<div class="land-fields row">
    <div class="col-6">
        <%= f.collection_select :land_type_id, LandType.all, :id, :category, {hide_label: true} %>
    </div>
    <div class="col-3">
        <%= f.number_field :area, hide_label: true %>
    </div>
    <div class="col-3 text-centre">
        <%= f.check_box :sprayed, hide_label: true %>
    </div>
</div>


