<nav class="navbar navbar-expand-lg navbar-light mb-2 mt-4" style="background-color: #e3f2fd;">
    <b class="navbar-brand uppercase snapshot-navbar-title">
        <% if @estate_user %>
            <%= @estate_user.estate.name %>
        <% elsif @farm_user %>
            <% farm = Farm.find(@farm_user.farm_timeline.initial_farm_id) %>
            <%= farm.name %>
        <% end %>
    </b>
    <ul class="navbar-nav ml-auto">
        <li class="navbar-text">
            <% if @farm_user %>
                <%= @farm_user.email %>
            <% elsif @estate_user %>
                <%= @estate_user.email %>
            <% end %>
        </li>
    </ul>
</nav>