<% if @estate_user %>
    <%= render 'shared/estates/sidebar' %>
<% elsif @farm_user %>
<div class="sidebar">
    <div class="sidebar-heading">
        NatureLogic
    </div>
    <hr class="sidebar-divider"/>
</div>
<% end %>